* {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

html,
body {
    margin: 0;
    height: 100vh;
    background: url("/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 5%;
    text-align: center;
}

.welcome {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px
}

.register {
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 30px
}